body{
    background:linear-gradient(140deg,rgb(156, 78, 33),rgb(170, 170, 17)) ;
}
h1{
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 525;
    font-style: italic;
}
.form-background{
    width: 650px;
    height: 800px;
    margin: auto;
    position: center;
    border-radius: 6px;
    background:linear-gradient(150deg,#71b7e6,#c46ee6);
    border-style: inset;
    border-width: 4px;
    margin-bottom: 3vh;
    
}
form{
    margin:1vh;
    color:rgb(29, 25, 25);
    font-size: 2px;
    text-align: left;
    line-height: 16px;
    margin-top: 4vh;
}
input{
    width: 450px;
    height: 30px;
    margin: 1px 0px;
    outline: 0px;
    border-color: darkred;
    border-radius: 10px 0px;
    margin-top: 2vh; 
    font-size: 20px;
} 
button{
    width: 450px;
    height: 50px;
    border: 5px;
    border-radius:15px;
    color: rgb(253, 252, 252);
    background:linear-gradient(150deg,#050505,rgb(36, 36, 35));
    margin-top: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight:700;
    transition: .5s;
}
label{
    font-weight:450;
    font-size: 25px;
}
.text{
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 5px;
}
#circle{
 width: 25px;
 height: 18px;
}
#Gender{
    font-size: 25px;
}
.name{
    font-size: 1.4rem;
    margin-top: 0vh;
}
#interest{
    font-size: 25px;
}
#box{
    width: 25px;
    height: 18px;
    border-radius: 9px;
}
.like{
    font-size: 1.4rem;
    margin-top: 0vh;
}
#country{
    width: 300px;
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 20px;
    margin: inherit;
}
